@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
.el-container {
  height: 100%;
}
svg {
  width: 1em;
  height: 1em;
}
