.form-drawer-editor {
  .el-drawer__body {
    padding: 0;
  }
  .el-tabs__item {
    color: #fff;
    border-left: none;
    border-bottom: none;
  }
  .el-tabs__nav,
  .el-tabs--card > .el-tabs__header .el-tabs__nav,
  .el-tabs--card > .el-tabs__header {
    border: none;
  }
  .el-tabs--card > .el-tabs__header .el-tabs__item:first-child,
  .el-tabs--card > .el-tabs__header .el-tabs__item {
    border: none;
  }
}
.nav-right-tabs {
  .el-tabs__nav {
    width: 100%;
    display: flex;
  }
  .el-tabs__item {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
